/*Style points for the whole shebang*/

body{
    font-family: Georgia;
}

h1{
    color: #37ae41;
    font-weight: 700;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/*Navbar at top*/

.navbar{
    position: fixed;
    width: 100%;
}

nav{
    background-color: black;
    z-index: 5;
}

.navbar-brand{
    margin-left: 15%;
}

#navbarNav{
    margin-left: 35%;
}

.navbar-collapse{
    text-align: center;
}

#navbarNav{
    margin-left: 35%;
}

/* The Jumbotron, for whatever reason that name exists */

.jumbotron{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(88,88,88,1) 65%, rgba(255,255,255,1) 100%);
}

#jumboContent{
    position: absolute;
    top: 50%;
    left: 50%;
    /* -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);*/
    transform: translateX(-50%) translateY(-50%);
}

#firstLine{
    display: block;
    margin: auto;
    color: white;
}

#secondLine{
    display: block;
    margin: auto;
    color: white;
}

#secondLine span{
    color: #37ae41;
}

/*About me*/
#aboutMe{
    /* border: solid black; */
    /* border-style: solid black 5px 0px 0px 0px; */
    border-top: solid 5px black;
    padding-top: 3%;
}

.aboutTitle{
    text-align: center;
    display: block;
    margin: auto;
    /* vertical-align: middle; */
}

.aboutTitle h1{
    margin-bottom: 3rem;
}

.textBox{
    display: block;
    /* border: solid 2px black; */
    border-style: inset;
    width: 50em;
    margin-left: -15%;
    padding: 25px;
}

.display-2{
    text-align: center;
}

.aboutText{
    text-align: center;
    margin: auto;
    display: block;
}

.gallery{
    margin-left: -37%;
}

.linkButton{
    margin: 5em;
    margin-left: 17em;
    padding:15px;
}

.linkButton:hover{
    opacity: 0.8;
}

/*Skills and lists*/
#skills{
    background-image: url("./assets/Geometric\ background.png");
    background-size: cover;
    width: 100%;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    padding-top: 3%;
    padding-bottom: 3%;
}



/*Contact me form*/

#contact{
    background-image: url("./assets/Spitzer\ Telescope\ Peony\ Nebula.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

#contact h1{
    text-align: center;
    color: #37ae41;
}

form{
    width: 55%;
    margin: auto;
    padding: 1em;
}

#fullName{
    margin-right: 13px;
}

#contactEmail{
    margin-top: 1em;;
}

label{
    color: white;
    text-decoration: underline;
}

.subBtn{
    vertical-align: middle;
    display: inline-block;
    padding: .375rem .75rem;
}

/*Footer*/