/*Style points for the whole shebang*/

body{
    font-family: Georgia;
}

h1{
    color: #37ae41;
    font-weight: 700;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/*Navbar at top*/

.navbar{
    position: fixed;
    width: 100%;
}

nav{
    background-color: black;
    z-index: 5;
}

.navbar-brand{
    margin-left: 15%;
}

#navbarNav{
    margin-left: 35%;
}

/* The Jumbotron, for whatever reason that name exists */

.jumbotron{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(88,88,88,1) 70%, rgba(255,255,255,1) 100%);
}

#jumboContent{
    position: absolute;
    top: 50%;
    left: 50%;
    /* -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);*/
    transform: translateX(-50%) translateY(-50%);
}

#firstLine{
    display: block;
    margin: auto;
    color: white;
    font-size: 6em;
}

#secondLine{
    display: block;
    margin: auto;
    color: white;
    font-size: 5em;
}

#secondLine span{
    color: #37ae41;
}

/*About me*/
#aboutMe{
    border-top: solid 5px black;
    padding-top: 3%;
}

.textBox{
    border-style: inset;
    width: 100%;
    padding: 25px;
}

.aboutText{
    text-align: center;
    margin: auto;
    display: block;
}

.textBox p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.gallery{
    float: left;
    width: 100%;
}

.linkButton{
    margin: 5em 1em;
    padding:15px;
}

.linkButton:hover{
    opacity: 0.8;
}
/*Skills Icons*/
#techSkills{
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(92, 228, 196);
}

#techSkills h1{
    text-align: center;
    color: black;
    padding-top: .5em;
    padding-bottom: .5em;
}

/*Portfolio*/
#portfolio{
    background-image: url("./assets/Geometric\ background.png");
    background-size: cover;
    width: 100%;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.carousel-item{
    /* height:50%; */
    margin-top: 2em;
}

/* .carousel-item a{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 50%;
} */

.carousel-caption{
    height: 8em;
    width: 70%;
    background-color: lightgray;
    color:black;
    z-index: 4;
}

.carousel-caption h5{
    text-align: center;
    text-decoration: underline;
}

.carousel-caption p{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Contact me form*/

#contactme{
    background-image: url("./assets/Spitzer\ Telescope\ Peony\ Nebula.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

#contactme h1{
    text-align: center;
    color: #37ae41;
}

form{
    width: 55%;
    margin: auto;
    padding: 1em;
}

#fullName{
    margin-right: 13px;
}

#contactEmail{
    margin-top: 1em;;
}

label{
    color: white;
    text-decoration: underline;
}

.subBtn{
    vertical-align: middle;
    display: inline-block;
    padding: .375rem .75rem;
}

/*Footer*/
#footer{
    background-color: rgb(5, 32, 101);
    text-align: center;
    color: white;
}

/*Mobile Version stuff - attempt 1*/
@media(max-width: 600px){
    
    /*Nav*/
    .navbar-brand{
        margin-left: 0;
    }

    #navbarNav{
        margin: 0;
    }

    .navbar-collapse{
        text-align: center;
    }

    /*Jumbotron - still a helluva weird name*/
    .jumbotron{
        /* padding-top: 5em; */
        width: 100vw;
        height: 100vh;
    }

    #firstLine{
        font-size: 4em;
    }

    #secondLine{
        font-size: 3em;
    }

    /*Skill icons*/
    #arduino{
        width: 25%;
        margin-bottom: 1em;
    }
    #bootstrap{
        width: 25%;
    }
    #csharp{
        width: 25%;
    }
    #css{
        width: 25%;
    }
    #github{
        width: 25%;
        margin-bottom: 1em;
    }
    #html{
        width: 25%;
    }
    #js{
        width: 25%;
    }
    #postman{
        width: 25%;
    }
    #sql{
        width: 25%;
    }
    #unreal{
        width: 25%;
    }
}
